force-app/main/default/flows/ESACHS_ActualizaOportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>ESACHS_UpdateNewOpportunity</name>
        <label>Update New Opportunity</label>
        <locationX>523</locationX>
        <locationY>893</locationY>
        <assignmentItems>
            <assignToReference>$Record.RUT_de_Empresa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.RUT_de_empresa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ESACHS_GetPriceBookESACHS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ESACHS_ChangeOpportunityName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ESACHS_UpdateOpportunityNameAndRUTEmpresa</name>
        <label>Update Opportunity Name And RUT Empresa</label>
        <locationX>1582</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>$Record.RUT_de_Empresa__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.RUT_de_empresa__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ESACHS_ChangeOpportunityName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ESACHS_UpdateOpportunityRTAndStatus</name>
        <label>Update Opportunity RT And Status</label>
        <locationX>1338</locationX>
        <locationY>470</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ESACHS_GetIDRTVentasESACHS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nuevo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ESACHS_RTVentasESACHS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ESACHS_CheckFieldUpdate</name>
        <label>Check Field Update</label>
        <locationX>1205</locationX>
        <locationY>754</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ESACHS_UpdateOpportunity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ESACHS_GetOldOpportunity.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ESACHS_TipoDeServicio__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ESACHS_GetOldOpportunity.ESACHS_TipoDeServicio__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ESACHS_GetOldOpportunity.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESACHS_UpdateOpportunityNameAndRUTEmpresa</targetReference>
            </connector>
            <label>Update Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>ESACHS_OportunidadCreadaDesdeLead</name>
        <label>Oportunidad Creada Desde Lead</label>
        <locationX>948</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>ESACHS_RTVentasESACHS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ESACHS_CreatedFromLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESACHS_GetIDRTVentasESACHS</targetReference>
            </connector>
            <label>isCreated</label>
        </rules>
    </decisions>
    <decisions>
        <name>ESACHS_RTVentasESACHS</name>
        <label>¿RT Ventas ESACHS?</label>
        <locationX>948</locationX>
        <locationY>471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ESACHS_SiRTVentasESACHS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESACHS_Ventas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESAHCS_NewOrExisting</targetReference>
            </connector>
            <label>Si RT Ventas ESACHS</label>
        </rules>
    </decisions>
    <decisions>
        <name>ESAHCS_NewOrExisting</name>
        <label>New Or Existing</label>
        <locationX>782</locationX>
        <locationY>691</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ESACHS_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESACHS_GetPriceBookESACHS</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>ESACHS_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESACHS_GetOldOpportunity</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <formulas>
        <name>ESACHS_ChangeOpportunityName</name>
        <dataType>String</dataType>
        <expression>TEXT( {!$Record.ESACHS_TipoDeServicio__c}) &amp; &quot;-&quot; &amp; {!$Record.Account.Name}</expression>
    </formulas>
    <interviewLabel>ESACHS_por {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESACHS - Actualiza Oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ESACHS_GetIDRTVentasESACHS</name>
        <label>Get ID RT Ventas ESACHS</label>
        <locationX>1337</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ESACHS_UpdateOpportunityRTAndStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ESACHS_Ventas</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ESACHS_GetOldOpportunity</name>
        <label>Get Old Opportunity</label>
        <locationX>792</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ESACHS_CheckFieldUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ESACHS_GetPriceBookESACHS</name>
        <label>Get PriceBook ESACHS</label>
        <locationX>523</locationX>
        <locationY>687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ESACHS_UpdateNewOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ESACHS - Productos y Servicios</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>446</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ESACHS_OportunidadCreadaDesdeLead</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
