force-app/main/default/flows/ESACHS_CrearTarea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CrearTareaEntidad</name>
        <label>CrearTareaEntidad</label>
        <locationX>822</locationX>
        <locationY>523</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>AssignedTask</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <elementReference>TaskPrioridad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>TaskStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CrearTareaPersona</name>
        <label>CrearTareaPersona</label>
        <locationX>1119</locationX>
        <locationY>518</locationY>
        <actionName>Lead.ESACHS_CreacionTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>AssignedTask</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <elementReference>TaskPrioridad</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <elementReference>TaskStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetObjectName</name>
        <label>GetObjectName</label>
        <locationX>956</locationX>
        <locationY>196</locationY>
        <actionName>ORG_UtilFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TipoObjeto</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordIdStrings</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ObjectName</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignedUser</name>
        <label>AssignedUser</label>
        <locationX>568</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>AssignedTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Usuario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetObjectName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TipoUsuarioQueue</name>
        <label>TipoUsuarioQueue</label>
        <locationX>577</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>AssignedTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetObjectName</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ESACHS_GetTipoAsignacion</name>
        <label>GetTipoAsignacion</label>
        <locationX>334</locationX>
        <locationY>174</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsQueue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group</targetReference>
            </connector>
            <label>IsQueue</label>
        </rules>
        <rules>
            <name>Is_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Usuario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignedUser</targetReference>
            </connector>
            <label>Is User</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoObjeto</name>
        <label>TipoObjeto</label>
        <locationX>951</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>CrearTareaPersona</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTareaEntidad</targetReference>
            </connector>
            <label>Entidad</label>
        </rules>
    </decisions>
    <interviewLabel>Crear Tarea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESACHS - Crear Tarea</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Group</name>
        <label>Group</label>
        <locationX>330</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TipoUsuarioQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>216</locationX>
        <locationY>7</locationY>
        <connector>
            <targetReference>ESACHS_GetTipoAsignacion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskPrioridad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Usuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
