force-app/main/default/flows/ESACHS_TeamMemberChatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ESACHS_PostToOpportunityTeam_0</name>
        <label>Post to Opportunity team</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>ESACHS_AssignUser</name>
        <label>AssignUser</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ESACHS_PostToOpportunityTeam_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ESACHS_Decision</name>
        <label>Decsion</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ESACHS_DecisionCreador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecord.Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESACHS_Ventas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESACHS_CreadorPropuesta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESACHS_AssignUser</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Decisión Creador</label>
        </rules>
    </decisions>
    <formulas>
        <name>Link</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510)) &amp; {!$Record.Opportunity.Id}</expression>
    </formulas>
    <interviewLabel>ESACHS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESACHS Team Member Chatter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecord</name>
        <label>GetRecord</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ESACHS_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecord</targetReference>
        </connector>
        <object>OpportunityTeamMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Estimado Usuari@,
@[{!UserId}] Se le a asignado la oportunidad  {!$Record.Opportunity.Name} para crear la propuesta comercial al cliente {!$Record.Opportunity.Account.Name}.
{!Link}</text>
    </textTemplates>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
